<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>LLM by Ordinal</title>
  <link rel="stylesheet" href="../../static/second_page_css_js/css_file.css">
</head>
<body>

  <section class="hero-carousel">
        <h1 class="main-title" id="animated-title">Ordinal - LLM & Transformers</h1>
  </section>



  <div class="container">
    <div class="left-panel">
      <h1>Large Language Model and Transformers with Ordinal</h1>
      <p><b>Large Language Models & Transformers: The Brain Behind Modern AI!</b>
        LLMs and Transformers have revolutionized the world of AI — powering tools like ChatGPT, BERT, and translation engines. They understand context, generate human-like responses, and perform complex tasks like summarization, reasoning, and code generation. If you want to lead in Generative AI, mastering this is a must.
        <br>
        <b>We offer all you need to get started</b> — from beginner-friendly blogs and video guides to in-depth books and curated references. You'll explore not just the models, but how and where to use them effectively.
        <br>
        <b>Missing something? Just reach out — we’ll deliver it right away!</b>
      </p>
        <a href="/">
            <img src="https://img.icons8.com/ios-filled/50/home.png" alt="Go Home" class="book-icon" title="Go back to Home">
        </a><br/>
        Click on Home to go back to Main Page!
    </div>
    <div class="right-panel">
      <a href="" class="rule-button red">COMING SOON</a>
      <!--<a href="rule2.html" class="rule-button yellow">Intermediate</a>
      <a href="rule3.html" class="rule-button green">Advanced</a>
      <a href="rule4.html" class="rule-button blue">Projects</a>
      <a href="rule5.html" class="rule-button purple">References</a>-->
    </div>
  </div>




  <footer>
    <div class="footer-links">
      <a href="https://github.com/nishi-2" target="_blank">GitHub</a>
      <a href="https://www.linkedin.com/in/nishipaul/" target="_blank">LinkedIn</a>
      <a href="https://nishi-2.github.io/nishipaul.github.io/" target="_blank">Portfolio</a>
    </div>
    <p>&copy; 2025 <span class="footer-brand">Ordinal</span></p>
  </footer>

  <script src="../../static/second_page_css_js/js_file.js"></script>
</body>
</html>
