<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>NLP by Ordinal</title>
  <link rel="stylesheet" href="../../static/second_page_css_js/css_file.css">
</head>
<body>

  <section class="hero-carousel">
        <h1 class="main-title" id="animated-title">Ordinal - NLP</h1>
  </section>



  <div class="container">
    <div class="left-panel">
      <h1>Natural Language Processing with Ordinal</h1>
      <p><b>Natural Language Processing: Make Machines Understand You!</b>
        NLP bridges the gap between humans and machines — enabling computers to read, interpret, and respond to language just like we do. From chatbots and translators to sentiment analysis and voice assistants, NLP powers the way we communicate with technology.
        <br>
        <b>We’ve packed everything you need</b> — detailed blogs, helpful videos, essential books, and reliable references to get you going. More than just theory, we guide you through real-world use cases and show how each concept comes to life in action.
        <br>
        And if there’s something you don’t find, just tell us — <b>we’ll bring it to you in no time!</b>
        </p>
        <a href="/">
            <img src="https://img.icons8.com/ios-filled/50/home.png" alt="Go Home" class="book-icon" title="Go back to Home">
        </a><br/>
        Click on Home to go back to Main Page!
    </div>
    <div class="right-panel">
      <a href="" class="rule-button red">COMING SOON</a>
      <!--<a href="rule2.html" class="rule-button yellow">Intermediate</a>
      <a href="rule3.html" class="rule-button green">Advanced</a>
      <a href="rule4.html" class="rule-button blue">Projects</a>
      <a href="rule5.html" class="rule-button purple">References</a>-->
    </div>
  </div>




  <footer>
    <div class="footer-links">
      <a href="https://github.com/nishi-2" target="_blank">GitHub</a>
      <a href="https://www.linkedin.com/in/nishipaul/" target="_blank">LinkedIn</a>
      <a href="https://nishi-2.github.io/nishipaul.github.io/" target="_blank">Portfolio</a>
    </div>
    <p>&copy; 2025 <span class="footer-brand">Ordinal</span></p>
  </footer>

  <script src="../../static/second_page_css_js/js_file.js"></script>
</body>
</html>
