<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Python by Ordinal</title>
  <link rel="stylesheet" href="../../static/second_page_css_js/css_file.css">
</head>
<body>

  <section class="hero-carousel">
        <h1 class="main-title" id="animated-title">Ordinal - Python</h1>
  </section>



  <div class="container">
    <div class="left-panel">
      <h1>Python with Ordinal</h1>
      <p><b>Python: Your Gateway to Innovation!</b>
        Python is the language of simplicity, power, and endless possibilities — from automation to AI, web apps to data science. Its clean syntax and vast ecosystem make it perfect for beginners and experts alike.
        <br/>
        We have it all that you need — blogs, videos, books, and references to jumpstart your journey. We're not just teaching you Python; we're showing you how it's applied in real-world projects and exactly where each concept shines.
        <br/>
        And hey, <b>if something’s missing, just reach out</b> — we’ll bring it to you at the soonest.
        <b>This is where your Python journey begins.</b>
        </p>
        <a href="/">
            <img src="https://img.icons8.com/ios-filled/50/home.png" alt="Go Home" class="book-icon" title="Go back to Home">
        </a><br/>
        Click on Home to go back to Main Page!
    </div>
    <div class="right-panel">
      <a href="{{ url_for('python_bp.python_begineer_page') }}" class="rule-button red" target="_blank">Beginner</a>
      <a href="{{ url_for('python_bp.python_oops_page') }}" class="rule-button yellow" target="_blank">Object Oriented Programming (OOP)</a>
      <!--<a href="rule3.html" class="rule-button green">Advanced</a>
      <a href="rule4.html" class="rule-button blue">Projects</a>
      <a href="rule5.html" class="rule-button pink">Data Structure and Algorithms</a>
      <a href="rule6.html" class="rule-button purple">References</a>-->
    </div>
  </div>




  <footer>
    <div class="footer-links">
      <a href="https://github.com/nishi-2" target="_blank">GitHub</a>
      <a href="https://www.linkedin.com/in/nishipaul/" target="_blank">LinkedIn</a>
      <a href="https://nishi-2.github.io/nishipaul.github.io/" target="_blank">Portfolio</a>
    </div>
    <p>&copy; 2025 <span class="footer-brand">Ordinal</span></p>
  </footer>

  <script src="../../static/second_page_css_js/js_file.js"></script>
</body>
</html>
