<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Ordinal - Python Blogs OOPS Page</title>
  <link rel="stylesheet" href="../../../static/blog_landing_page_css_js/css_ml_main.css" />
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&display=swap" rel="stylesheet" />
</head>
<body>
  <div class="page-wrapper">
    <section class="hero-carousel">
      <h1 class="main-title" id="animated-title">Ordinal - Python - Object Oriented Programming/h1>
    </section>

    <div class="container">
      <a class="nav-item purple-bg" href="{{ url_for('python_bp.python_oops_nodes_intro_page') }}" target="_blank">Topic 1 - Introduction to Nodes in Data Structure</a>
        <a class="nav-item purple-bg" href="{{ url_for('python_bp.python_oops_singly_linked_list_page') }}" target="_blank">Topic 2 - Singly Linked List in Detail</a>
        <a class="nav-item purple-bg" href="{{ url_for('python_bp.python_oops_doubly_linked_list_page') }}" target="_blank">Topic 3 - Doubly Linked List in Detail</a>
    </div>


    <br />
    <div>
      <a href="/">
        <img src="https://img.icons8.com/ios-filled/50/home.png" alt="Go Home" class="book-icon" title="Go back to Home" />
      </a>
      <br />
      Click on Home to go back to Main Page!
    </div>

    <footer>
      <div class="footer-links">
        <a href="https://github.com/nishi-2" target="_blank">GitHub</a>
        <a href="https://www.linkedin.com/in/nishipaul/" target="_blank">LinkedIn</a>
        <a href="https://nishi-2.github.io/nishipaul.github.io/" target="_blank">Portfolio</a>
      </div>
      <p>&copy; 2025 <span class="footer-brand">Ordinal</span></p>
    </footer>
  </div>

  <script src="../../../static/blog_landing_page_css_js/script.js"></script>
</body>
</html>










