<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Ordinal - Machine Learning Data Preprocessing</title>
  <link rel="stylesheet" href="../../../static/blog_landing_page_css_js/css_ml_main.css" />
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&display=swap" rel="stylesheet" />
</head>
<body>
  <div class="page-wrapper">
    <section class="hero-carousel">
      <h1 class="main-title" id="animated-title">Ordinal - Machine Learning - Beginning to Data Preprocessing</h1>
    </section>

    <div class="container">
      <a class="nav-item purple-bg" href="{{ url_for('ml_bp.topic_1') }}">1. Introduction to Machine Learning</a>
      <a class="nav-item purple-bg" href="{{ url_for('ml_bp.topic_2') }}">2. Standard Procedure for Model Building</a>
      <a class="nav-item purple-bg" href="{{ url_for('ml_bp.topic_3') }}">3. Data Collection Methods</a>
      <a class="nav-item purple-bg" href="{{ url_for('ml_bp.topic_4') }}">4. Introduction to Data Preprocessing</a>
      <a class="nav-item purple-bg" href="{{ url_for('ml_bp.topic_5') }}">5. Handling Missing Values</a>
      <a class="nav-item purple-bg" href="{{ url_for('ml_bp.topic_6') }}">6. Handling Outliers in Data</a>
      <a class="nav-item purple-bg" href="{{ url_for('ml_bp.topic_7') }}">7. Deep Dive into Exploratory Data Analysis (EDA)</a>
      <a class="nav-item purple-bg" href="{{ url_for('ml_bp.topic_8') }}">8. Basic Project showing EDA methodology</a>
    </div>


    <br />
    <div>
      <a href="/">
        <img src="https://img.icons8.com/ios-filled/50/home.png" alt="Go Home" class="book-icon" title="Go back to Home" />
      </a>
      <br />
      Click on Home to go back to Main Page!
    </div>

    <footer>
      <div class="footer-links">
        <a href="https://github.com/nishi-2" target="_blank">GitHub</a>
        <a href="https://www.linkedin.com/in/nishipaul/" target="_blank">LinkedIn</a>
        <a href="https://nishi-2.github.io/nishipaul.github.io/" target="_blank">Portfolio</a>
      </div>
      <p>&copy; 2025 <span class="footer-brand">Ordinal</span></p>
    </footer>
  </div>

  <script src="../../../static/blog_landing_page_css_js/script.js"></script>
</body>
</html>










