<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Ordinal - Deep Learning Begineer</title>
  <link rel="stylesheet" href="../../../static/blog_landing_page_css_js/css_ml_main.css" />
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&display=swap" rel="stylesheet" />
</head>
<body>
  <div class="page-wrapper">
    <section class="hero-carousel">
      <h1 class="main-title" id="animated-title">Ordinal - Deep Learning - Begineer</h1>
    </section>

    <div class="container">
      <a class="nav-item purple-bg" href="{{ url_for('dl_bp.topic_1') }}" target="_blank">1. Introduction to Neural Networks</a>
      <a class="nav-item white-bg" href="{{ url_for('dl_bp.topic_2') }}" target="_blank">2. Basic Project of House price prediction using Simple Network</a>
      <a class="nav-item purple-bg" href="{{ url_for('dl_bp.topic_3') }}" target="_blank">3. Diving into more layers using Fashion MNIST dataset</a>
      <a class="nav-item white-bg" href="{{ url_for('dl_bp.topic_4') }}" target="_blank">4. Simple network achitecture with Handwritten Dataset</a>
      <a class="nav-item purple-bg" href="{{ url_for('dl_bp.topic_5') }}" target="_blank">5. Regression Problem using Simple Network</a>
      <a class="nav-item white-bg" href="{{ url_for('dl_bp.topic_6') }}" target="_blank">6. MNIST Classification with callback</a>
      <a class="nav-item purple-bg" href="{{ url_for('dl_bp.topic_7') }}" target="_blank">7. Introduction to Convolutional Neural Network (CNN)</a>
      <a class="nav-item white-bg" href="{{ url_for('dl_bp.topic_8') }}" target="_blank">8. Peeping into CNN working in detail</a>
      <a class="nav-item white-bg" href="{{ url_for('dl_bp.topic_9') }}" target="_blank">9. MNIST Dataset Classification with CNN</a>
      <a class="nav-item white-bg" href="{{ url_for('dl_bp.topic_10') }}" target="_blank">10. Diving deep into CNN process with Horses and Humans classification</a>
      <a class="nav-item white-bg" href="{{ url_for('dl_bp.topic_11') }}" target="_blank">11. Preprocessing methods that can affect accuracy</a>
      <a class="nav-item white-bg" href="{{ url_for('dl_bp.topic_12') }}" target="_blank">12. Image Classification of Cats and Dogs using CNN</a>
      <a class="nav-item white-bg" href="{{ url_for('dl_bp.topic_13') }}" target="_blank">13. Image Classification of Cats and Dogs using CNN (Part 2)</a>
    </div>


    <br />
    <div>
      <a href="/">
        <img src="https://img.icons8.com/ios-filled/50/home.png" alt="Go Home" class="book-icon" title="Go back to Home" />
      </a>
      <br />
      Click on Home to go back to Main Page!
    </div>

    <footer>
      <div class="footer-links">
        <a href="https://github.com/nishi-2" target="_blank">GitHub</a>
        <a href="https://www.linkedin.com/in/nishipaul/" target="_blank">LinkedIn</a>
        <a href="https://nishi-2.github.io/nishipaul.github.io/" target="_blank">Portfolio</a>
      </div>
      <p>&copy; 2025 <span class="footer-brand">Ordinal</span></p>
    </footer>
  </div>

  <script src="../../../static/blog_landing_page_css_js/script.js"></script>
</body>
</html>










