<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Ordinal - Deep Learning Intermediate</title>
  <link rel="stylesheet" href="../../../static/blog_landing_page_css_js/css_ml_main.css" />
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&display=swap" rel="stylesheet" />
</head>
<body>
  <div class="page-wrapper">
    <section class="hero-carousel">
      <h1 class="main-title" id="animated-title">Ordinal - Deep Learning - Intermediate</h1>
    </section>

    <div class="container">
        <a class="nav-item purple-bg" href="{{ url_for('dl_bp.topic_14') }}">1. Introduction to Augmentation with Cats and Dogs Classification</a>
        <a class="nav-item white-bg" href="{{ url_for('dl_bp.topic_15') }}">2. Horses and Humans Classification with Augmentation</a>
        <a class="nav-item purple-bg" href="{{ url_for('dl_bp.topic_16') }}">3. Cats and Dogs Classification with Augmentation and EarlyCallBacks</a>
        <a class="nav-item white-bg" href="{{ url_for('dl_bp.topic_17') }}">4. Transfer Learning using Inception Model with Augmentation</a>
        <a class="nav-item purple-bg" href="{{ url_for('dl_bp.topic_18') }}">5. Transfer Learning with Inception Model without augmentation</a>
        <a class="nav-item white-bg" href="{{ url_for('dl_bp.topic_19') }}">6. Multi-Class Classification of Images - Rock Paper Scissor</a>
        <a class="nav-item purple-bg" href="{{ url_for('dl_bp.topic_20') }}">7. Multi-Class Classification of Images - Sign Language</a>
        <a class="nav-item white-bg" href="{{ url_for('dl_bp.topic_21') }}">8. Introduction to Text Vectorization</a>
        <a class="nav-item white-bg" href="{{ url_for('dl_bp.topic_22') }}">9. Basic Project on Tokenizing Text Dataset</a>
        <a class="nav-item white-bg" href="{{ url_for('dl_bp.topic_23') }}">10. Tokenizing BBC News dataset using Vectorization</a>
        <a class="nav-item white-bg" href="{{ url_for('dl_bp.topic_24') }}">11. Sentiment Classification using IMDB Dataset</a>
        <a class="nav-item white-bg" href="{{ url_for('dl_bp.topic_25') }}">12. Binary Classifier using Sarcasm Dataset</a>
    </div>


    <br />
    <div>
      <a href="/">
        <img src="https://img.icons8.com/ios-filled/50/home.png" alt="Go Home" class="book-icon" title="Go back to Home" />
      </a>
      <br />
      Click on Home to go back to Main Page!
    </div>

    <footer>
      <div class="footer-links">
        <a href="https://github.com/nishi-2" target="_blank">GitHub</a>
        <a href="https://www.linkedin.com/in/nishipaul/" target="_blank">LinkedIn</a>
        <a href="https://nishi-2.github.io/nishipaul.github.io/" target="_blank">Portfolio</a>
      </div>
      <p>&copy; 2025 <span class="footer-brand">Ordinal</span></p>
    </footer>
  </div>

  <script src="../../../static/blog_landing_page_css_js/script.js"></script>
</body>
</html>










